/* ==========================================================================
   @Scope: Sosyo!
   ========================================================================== */

/*
 * Note: All visual styles can be overwritten, deleted or moved to theme as needed.
*/


/* =============================================================================
   @Scope: Scaffolding
   ========================================================================== */

@import '_scaffolding/scaffolding';
@import '_scaffolding/options';
@import '_scaffolding/typography';
@import '_scaffolding/grid';


/* =============================================================================
   @Scope: Variable
   ========================================================================== */

@import '_variable/mixins';
@import '_variable/img';
@import '_variable/table';
@import '_variable/ul';


/* =============================================================================
   @Scope: Component
   ========================================================================== */

@import '_component/alert';
@import '_component/badge';
@import '_component/button';
@import '_component/carousel';
@import '_component/dropdown';
@import '_component/icon';
@import '_component/tooltip';


/* =============================================================================
   @Scope: Form Elements
   ========================================================================== */

@import '_form/form';
@import '_form/input';
@import '_form/select';
@import '_form/validation';


/* =============================================================================
   @Scope: Layout
   ========================================================================== */

@import '_layout/header';
@import '_layout/footer';
@import '_layout/accordion';
@import '_layout/breadcrumb';
@import '_layout/modal';
@import '_layout/nav';
@import '_layout/pagination';
@import '_layout/tab';


/* =============================================================================
   @Scope: Page
   ========================================================================== */

@import '_page/home';
@import '_page/profile';
@import '_page/blog';
@import '_page/static';
@import '_page/account';
@import '_page/login';
@import '_page/register';
