/* =============================================================================
   @Scope : Header
   ========================================================================== */

header{
  padding: 12px 0;

  .user {
    display: flex;
    align-items: center;
    font-size: 13px;
    justify-content: flex-end;
    gap: 8px;
    background-color: #fff;
    border-radius: 8px;
    padding: 4px 14px;
  }

}