/* =============================================================================
   @Scope : Theme Root-Options
   ========================================================================== */

:root {
  --grid-columns: 12;
  --grid-gutter: 16px;
  --container-padding: 16px;
  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1140px;
  --primary-color: #fefa7c;
  --primary-color-hover: #fee77c;
}
